rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /tokens/{userId} {
      // allow users only to read their own documents
      allow read: if request.auth.uid == userId;

      // disable write for all users
      allow write: if false;
    }
  }
}
